<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home</title>
</head>
<body>
    <table>

        <p><a href="{% url 'aggnew:author'%}">Author</a></p>
        <p><a href="{% url 'aggnew:books' %}"> Books </a></p>
        <p><a href="{% url 'aggnew:publisher'%}">Publisher</a></p>
        <p><a href="{% url 'aggnew:store' %}">Store</a></p>

        <p><a href="{% url 'aggnew:author-list'%}">Authors List</a></p>
        <p><a href="{% url 'aggnew:publisher-list'%}">Publishers</a></p>

    </table>
</body>
</html>